/* .no-bullet-list {
  list-style-type: none;
}
 */

.ljn-nav-tabs {
  --bs-nav-link-padding-x: 0.4rem;
  /* font-size: 0.9rem; */
}

input[type="text"] {
  /* background-color: red; */
  width: 5ch;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
